<header class='header'>

  <a href="/"><h1 class='header__title'>{{site.title}}</h1></a>

  <nav class='main-nav'>
    <ul class='main-nav__ul'>

      <li class='main-nav__li'>
        <a href='/' class='main-nav__link'>My work</a>
      </li>

      <li class='main-nav__li'>
        <a href='/about' class='main-nav__link'>About</a>
      </li>

      <!-- <li class='main-nav__li'>
        <a href='/inspiration' class='main-nav__link'>Inspiration</a>
      </li> -->

      <!-- <li class='main-nav__li'>
        <a href='/blog' class='main-nav__link'>Blog</a>
      </li> -->

    </ul>
  </nav>

</header>
