.about {

  &-container {
    display: flex;
    margin-top: 4rem;
  }

  &-img {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
  }

  &-text {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-left: 2rem;
  }

  &-link {
    font-weight: 600;
    border-bottom: .2rem solid $black;
  }

}
