.about {

  &-container {
    display: flex;
    margin-top: 4rem;
  }

  &-img {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
  }

  &-text {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-left: 2rem;
  }

  &-link {
    font-weight: 700;
    padding: 0 .2rem;
    border-bottom: .2rem solid $black;
    box-shadow: inset 0 0 0 0 #31302B;
    transition: all ease .5s;

    &:hover {
      box-shadow: inset 6rem 0 0 0 $black;
      color: #fff;
    }
  }

  &-music {
    font-size: 1rem;

    &-link {
      border-bottom: .1rem solid $black;
    }

  }

}
