.footer {
  margin: 3rem 0 1rem;

  &__socials {
    display: flex;
    justify-content: center;

    &__li:not(:first-child) {
      margin-left: .8rem;
    }

    &__li i {
      color: $black;
    }

  }

}
