.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -1rem;
}

.post-item {
  position: relative;
  width: 24%;
  margin-bottom: 1rem;
  transition: all 250ms ease-out;
  overflow: hidden;

  &:hover {

    .post-item__image {
      transform: scale(1.4);
    }

    .post-item__header {
      visibility: visible;
      opacity: 1;
    }

    .post-item__header__title {
      top: 0;
    }

    .post-item__header__subtitle {
      top: 0;
    }

  }

  &__image {
    width: 100%;
    object-fit: cover;
    transition: all 250ms ease-out;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 250ms ease-out;
    background-color: $cardhovercolor;
    color: white;

    &__title {
      position: relative;
      top: 1rem;
      transition: all 200ms ease-out;
      font-weight: bold;
      letter-spacing: .08rem;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    &__subtitle {
      position: relative;
      top: 1rem;
      transition: all 200ms ease-out;
      transition-delay: 25ms;
      margin-top: .2rem;
      text-transform: uppercase;
      font-size: .8rem;
      opacity: .4;
    }

  }

}
