---
layout: default
---
<article class="blog" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="blog-header">
    <h1 class="blog-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="blog-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="blog-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
