---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.categories.work %}
      <li class="post-item">
        <a class="post-item__link" href="{{ post.url | relative_url }}">

          <img class="post-item__image" src="{{ post.coverimage }}" alt="{{ post.title }}-image">
          <h2 class="post-item__header">
            <span class="post-item__header__title">{{ post.title | escape }}</span>
            <span class="post-item__header__subtitle">{{ post.tag | escape }}</span>
          </h2>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
